<div>
  <form>
    <!-- <div class="form-group">
    <label for="name">Company name</label>
    <input type="text" class="form-control" id="name" required />
     <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
      Name is required
    </div>
  </div> -->
    <div class="form-group row">
      <label for="name" class="col-lg-3 col-6">Company name</label>
      <div class="col-lg-3 col-6">
        <input
          type="text"
          class="form-control"
          formControlName="companyName"
          id="name"
          required
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="phone" class="col-lg-3 col-6">Phone numbers</label>
      <div class="col-lg-3 col-6">
        <input
          type="tel"
          class="form-control"
          id="phone"
          formControlName="companyNumber"
          required
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="address" class="col-lg-3 col-6">Address</label>
      <div class="col-lg-3 col-6">
        <input
          type="text"
          class="form-control"
          id="address"
          formControlName="companyAddress"
          required
        />
      </div>
    </div>
    <div class="button-container">
      <button type="button" (click)="addNewEmployee()">Add Employee +</button>
      <button (click)="saveForm()">Save</button>
    </div>
    <div *ngIf="employees.length">
      <div *ngFor="let employee of employees">
        <div class="form-group row">
          <label for="name" class="col-lg-3 col-6">Employee name</label>
          <div class="col-lg-3 col-6">
            <input type="text" class="form-control" id="name" required />
          </div>
        </div>
        <div class="form-group row">
          <label for="startDate" class="col-lg-3 col-6">Start Date</label>
          <div class="col-lg-3 col-6">
            <input type="date" class="form-control" id="startDate" #startDate />
          </div>
        </div>
        <div class="form-group row">
          <label for="endDate" class="col-lg-3 col-6">End Date</label>
          <div class="col-lg-3 col-6">
            <input
              type="date"
              class="form-control"
              id="endDate"
              [required]="!!startDate.value"
            />
          </div>
        </div>
        <div class="form-group row">
          <label for="salary" class="col-lg-3 col-6">Salary</label>
          <div class="col-lg-3 col-6">
            <input type="text" class="form-control" id="salary" required />
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
